/* ------------ INDEX ------------ */
/* import */
/* browser reset */
/* variables */
/* general */
/* header */
/* description */
/* next */
/* footer */
/* other */
/* not-found */
/* ------------------------------- */

/* import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

/* browser reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

img {
	display: block;
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
figure,
video {
	margin: 0;
	padding: 0;
}

*:focus {
	outline: none;
}

/* variables */
:root {
	--white: #fff;
	--black: #000;
	--pastel: #e0e0e0;
}

/* general */
::selection {
	background: var(--black);
	color: var(--white);
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	letter-spacing: .05em;
	font-weight: 300;
	line-height: 1.6;
	color: var(--black);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
}

.hide {
	display: none;
}

.container {
	width: 90%;
	max-width: 60rem;
	margin: 10em auto 0 10em;
}

h1 {
	font-size: 3.6em;
	letter-spacing: .1em;
	margin-bottom: 10rem;
}
h2 {
	font-size: 1.6em;
	letter-spacing: .1em;
}
p {
	font-size: 2.4em;
	margin-bottom: .6em;
}

a {
	color: var(--black);
	transition: color .3s ease-in, background .5s ease-out;
}

a:hover {
	text-decoration: none;
	color: var(--white);
	background: var(--black);
}

@media only screen and (max-width: 768px) {
	.container {
		margin: 4em auto;
	}
}

/* header */
header {
	position: absolute;
	top: 6rem;
	left: 6rem;
	z-index: 1;
}

header nav a {
	font-size: 2rem;
	font-weight: 400;
	color: var(--white);
	display: block;
	text-decoration: none;
	opacity: .5;
	transition: all .3s ease-in;
}
header nav a:hover,
header nav a.selected {
	text-decoration: underline;
	opacity: 1;
	background: transparent;
}

header #lang {
	background: var(--pastel);
	border: 1px solid var(--white);
	position: fixed;
	top: 1em;
	right: 1em;
	font-size: 1.6em;
	font-weight: 400;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header #lang a {
	color: var(--black);
	text-decoration: none;
	padding: .1em .5em;
	transition: all .3s ease-in;
}
header #lang a.selected,
header #lang a:hover {
	background: var(--black);
	color: var(--pastel);
}

@media only screen and (max-width: 768px) {
	header {
		top: 2em;
		left: 2em;
	}
	header nav a {
		font-size: 2em;
	}

	header #lang {
		flex-flow: column;
	}
}

/* cover */
#cover {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: var(--black);
	display: flex;
	align-items: center;
	justify-content: center;
	/* background: url(../img/cover/1.jpg); */
	/* background-size: cover; */
}

#cover img {
	margin: auto;
}

#cover button#go-down {
	position: absolute;
	bottom: 6em;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	background: transparent;
	border: none;
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#cover button#go-down:hover {
	background: #fff6;
	transition: all .3s ease-out;
}

#cover button#go-down svg {
	width: 1.4rem;
	height: 1.6rem;
	fill: var(--white);
}

#cover .carousel-cell img {
	max-width: unset;
	transform: scale(1);
}

.carousel {
	width: 100%;
	height: 100%;
}
.flickity-button {
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .3s ease-out;
}
.flickity-button:hover {
	background: #fff6;
}

.flickity-button svg {
	fill: var(--white);
	width: 2em !important;
	height: 2.4em !important;
}
.flickity-prev-next-button {
	top: unset;
	bottom: 6em;
}
.flickity-prev-next-button.previous {
	left: 40%;
}
.flickity-prev-next-button.next {
	right: 40%;
}

@media only screen and (max-width: 768px) {
	#cover .carousel-cell img {
		transform: scale(.5) translateY(-50%);
	}
	#cover > img {
		transform: scale(3);
	}
	.flickity-prev-next-button.previous {
		left: 0;
	}
	.flickity-prev-next-button.next {
		right: 0;
	}
}

@media only screen and (min-width: 1600px) {
	#cover img {
		transform: scale(1.2);
	}
}

/* description */
#text {
	margin: 10em 0;
}

.title {
	margin-bottom: 6em;
}

span.title,
span.author {
	font-weight: 400;
	margin-bottom: .2em;
	display: block;
	font-size: 1.6em;
}

span.date {
	font-size: 1.6em;
}

/* next */
#next h2 {
	margin-bottom: 4em;
}
#next .article-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#next .article-container article {
	width: calc(50% - 1rem);
	margin-bottom: 4rem;
}

#next .article-container article span {
	display: block;
	font-size: 1.6em;
}
#next .article-container article span.author a {
	text-decoration: none;
}
#next .article-container article figure {
	margin: 4em 0;
}

#next .article-container article figure a {
	width: 460px;
	height: 310px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background: var(--black);
}
#next .article-container article figure a img {
	transition: all .6s ease-in-out;
}
#next .article-container article figure a img:hover {
	transform: scale(1.1);
}

#next .article-container article figure figcaption p {
	font-size: 1.6em;
	margin-top: 1em;
}

@media only screen and (max-width: 768px) {
	#next .article-container {
		flex-flow: column;
	}

	#next .article-container article {
		width: 100%;
		margin-bottom: 6em;
	}

	#next .article-container article figure a {
		width: 100%;
		height: 210px;
	}
}

/* credits */
#credits {
	margin-top: 4em;
	columns: 2;
	column-gap: 2em;
}

#credits p {
	font-size: 1.6em;
}

@media only screen and (max-width: 768px) {
	#credits {
		columns: 1;
	}
}

/* footer */
footer {
	width: 100%;
	text-align: right;
	padding: 2em 0 6em;
	margin-top: 10em;
	border-top: 1px solid var(--pastel);
}

footer .container {
	margin: 0 6em 0 auto;
}

footer p {
	font-size: 1.2em;
}

footer p:first-of-type {
	font-size: 1.4em;
	font-weight: 400;
}

/* other */
#go-top {
	position: fixed;
	bottom: 1em;
	right: 1em;
	background: var(--black);
	padding: 1em;
	border: none;
	cursor: pointer;
	transition: all .3s ease-in-out;
	opacity: 0;
	z-index: -1;
}

#go-top.show {
	opacity: 1;
	z-index: 1;
}

#go-top svg {
	width: 1.4rem;
	height: 1.6rem;
	fill: var(--white);
	transform: rotate(180deg);
}

#go-top:hover {
	transform: scale(1.1);
}
